body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1391px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:985px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:65px;
  width:1190px;
  height:985px;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:65px;
  overflow:hidden;
}
#u1165_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/信息检索/u245_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1165_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  line-height:40px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:13px;
  width:217px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  line-height:40px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:23px;
  width:20px;
  height:20px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:40px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:13px;
  width:50px;
  height:40px;
  color:#FFFFFF;
  line-height:40px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
  line-height:40px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:13px;
  width:40px;
  height:40px;
  color:#FFFFFF;
  text-align:right;
  line-height:40px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:23px;
  width:20px;
  height:20px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:15px;
  width:36px;
  height:36px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:23px;
  width:20px;
  height:20px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:40px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:13px;
  width:40px;
  height:40px;
  color:#FFFFFF;
  line-height:40px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1100px;
  width:1390px;
  height:4px;
  overflow:hidden;
}
#u1178_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:4px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/信息检索/u245_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1178_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#F2931B;
  line-height:30px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:210px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#F2931B;
  line-height:30px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:2px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:1190px;
  height:1px;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:190px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:135px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:45px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:135px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:45px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:245px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:245px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:300px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:355px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:355px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:300px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(230, 0, 18, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:415px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:45px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:190px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:45px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
