body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1391px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:65px;
  overflow:hidden;
}
#u1334_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:65px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/信息检索/u245_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1334_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  line-height:40px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:13px;
  width:217px;
  height:40px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  line-height:40px;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:23px;
  width:20px;
  height:20px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:40px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:13px;
  width:50px;
  height:40px;
  color:#FFFFFF;
  line-height:40px;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
  line-height:40px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:13px;
  width:40px;
  height:40px;
  color:#FFFFFF;
  text-align:right;
  line-height:40px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:23px;
  width:20px;
  height:20px;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:15px;
  width:36px;
  height:36px;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:23px;
  width:20px;
  height:20px;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:40px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:13px;
  width:40px;
  height:40px;
  color:#FFFFFF;
  line-height:40px;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:13px;
  width:80px;
  height:40px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:40px;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1100px;
  width:1390px;
  height:4px;
  overflow:hidden;
}
#u1347_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:4px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/信息检索/u245_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u1347_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:950px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:65px;
  width:950px;
  height:950px;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:900px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:65px;
  width:240px;
  height:900px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:30px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:80px;
  width:60px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:30px;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:135px;
  width:100px;
  height:30px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:30px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:170px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:2px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:120px;
  width:210px;
  height:1px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:575px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:610px;
  width:100px;
  height:30px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  line-height:30px;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:200px;
  width:200px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:290px;
  width:200px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:325px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:355px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:385px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:415px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:445px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:475px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:505px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:535px;
  width:181px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:230px;
  width:200px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:260px;
  width:200px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:178px;
  width:16px;
  height:16px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:582px;
  width:16px;
  height:16px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:617px;
  width:16px;
  height:16px;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:85px;
  width:20px;
  height:20px;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#F2931B;
  line-height:30px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:80px;
  width:210px;
  height:30px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#F2931B;
  line-height:30px;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:2px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:120px;
  width:910px;
  height:1px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:135px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:190px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:190px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:245px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:245px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:300px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:300px;
  width:550px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:410px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:410px;
  width:550px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:465px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:465px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:520px;
  width:160px;
  height:45px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:45px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u1386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:520px;
  width:200px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:355px;
  width:550px;
  height:45px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:45px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:0px;
  width:533px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:2px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:585px;
  width:910px;
  height:1px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 0, 18, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:606px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:606px;
  width:120px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:116px;
  word-wrap:break-word;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:150px;
  width:100px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1391_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:150px;
  width:100px;
  height:16px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1392_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
